@charset "UTF-8";
.Getopen{
	width:100%;
	border-collapse:collapse;
}
.Getopen td,	#Getopen th{
	font-size:1em;
	border:1px solid #4F96CA;
	padding:2px 7px 7px 7px;
}
.Getopen th{
	font-size:1.5em;
	text-align:left;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#4F96CA;
	color:#ffffff;
}
.customers tr.alt td
{
	color:#000000;
	background-color:4F96CA;
}
	#slider{width:680px; height:272px; margin:40px auto;background:url(/Public/images/loading.gif) no-repeat 50% 50%;}

#slider img {position:absolute;top:0px;left:0px;display:none;}

.nivo-controlNav{position:relative;left:480px;}

.nivo-controlNav a {display:block;width:22px;height:22px;background:url(/Public/images/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left;}

.nivo-controlNav a.active {background-position:0 -22px;}

.nivo-directionNav a {display:block;width:30px;height:30px;background:url(/Public/images/arrows.png) no-repeat;text-indent:-9999px;border:0;}

a.nivo-nextNav {background-position:-30px 0;right:15px;}

a.nivo-prevNav {left:15px;}

.nivo-caption {text-shadow:none; font-family: Helvetica, Arial, sans-serif;}

.nivo-caption a {color:#efe9d1;text-decoration:underline;}

	.ces-reglogin{
		padding-top:20px;
	}
	.ces-reglogin li{
		font-size:30px;
	}
	.ces-latestnews{
		padding-top:28px;
		padding-left:15px;
	}
#pagecount{
    width: 500px;
    margin: 10px auto 2px auto;
    padding-bottom: 20px;
    text-align: center;
}
#pagecount span{
    margin: 4px;
    font-size: 14px;
}